{% extends "template.html" %}

{% block content %}
    <a href="http://foodlove.pl">Foodlove.pl</a>
    <h1>Dziękujemy za rejestrację w serwisie Foodlove!</h1>
    <p>Cześć {{ username }}</p>
    <p>Aby zakończyć rejestrację, wystarczy że skorzystasz w poniższego linka:</p>
    <p><a href="#">(link)</a></p>
    <p>Po potwierdzeniu, nastąpi automatyczne zalogowanie do serwisu</p>
    <p>Jeśli masz jakiekolwiek problemy, skontaktuj się z nami mailowo na adres: <a href="mailto:pomoc@foodlove.pl">pomoc@foodlove.pl</a></p>
    <p>Z pozdrowieniami,</p>
    <p>Zespół Foodlove</p>
{% endblock %}
